body {
    font-family: sans-serif;
    max-width: 280px;
    margin: 25px auto;
}

#divisa{
    border: solid 1px red;
    padding: 1rem 1rem;
}

.divisa_tipo {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 15px;

    color: white;
}

.divisa_nombre{
     padding: 5px;
    font-size: 16px;
    align-self: center;
    text-align: center;
}

.divisa_valor{
     padding: 5px;
    font-size: 16px;
    align-self: center;
    text-align: center;
}


